@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700&display=swap');

*{
    font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
}

#logo{
    
    width: 150px;
    height: 60px;
    
  }

  .swal2-cancel{

    margin-right: 15px;
}
  
    #menu{
      padding: 30px;
      background-color: #007D47;
  }
  
    .form-signin {
      max-width: 480px;
      padding: 35px 35px 45px 35px;
      margin:  auto;
      margin-top: 50px;
      margin-left: 10px;
      background-color: #fff;
      box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.342);
      border-radius: 18px;
    
    }
  
    .btn{
      color: #fff;
      background-color: #092c6e;
    }
    .btn:hover{
  
      color: #f0ede9;
      background-color: #fdb72ae5;
      border-color: #FDB62A;
      
    }
  
    a:link{
      
      color: #523617;
    }
    a:hover {
      text-decoration: none;
      color: black;
    }
    hr{
      color: #284D92;
    }
    h2{
      color: #284D92;
    }
    .nav-link{
        color: #fff;
    }
    .nav-link:hover{
  
      color: #284D92;
    }
  
    .photo{
     /* background: url('/img/man2-candidato1.png'); */
      position:relative;
      margin-top: -370px;
      float: right;
      width:500px;
      height: 500px;
      /*background-color: #fff;*/
      background-size: cover;
      border: 0px solid rgb(22, 22, 22);
  }
    @media only screen and (max-width: 1200px) {
      .photo{
          display:none;
      }
  }