title{
  background: url('/img/title.png');
  width: 10px;
}
body{
    /*background: repeat-y url('/img/login_m.jpg');*/
    background-size: cover; 
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    
}
#menu{
  padding: 30px;
 
}


#logo{

  width: 150px;
  height: 60px;
}

.form-signin {
    
  border-radius: 18px;
  max-width: 1280px;
  padding: 15px 35px 45px 15px;
  margin:  auto;
  margin-top: 50px;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
 
}


#perfil{
    
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2.5px solid;
  /*
  border-image: linear-gradient(#106AF2 0%, #00E0FF 100%) 1 ;
  */
}
  a:link{
    
    color: #523617;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
  hr{
    color: #523617;
  }
/*
  #menu{

    padding: 30px;
    background-color: #525961cb;
  }
*/
  .photo{
   /* background: url('/img/busca-militar.png'); */
    position:relative;
    margin-top: -420px;
    
    background-repeat: no-repeat, repeat-y;
    float: right;
   /* width:500px;
    height: 600px;*/
    /*background-color: #fff;*/
    background-size: cover;
    border: 0px solid rgb(22, 22, 22);
}
  @media only screen and (max-width: 1200px) {
    .photo{
        display:none;
    }



}

.form-control:disabled{
  background-color: #fff;
}