title{
  background: url('/img/title.png');
  width: 10px;
}
body{
    /*background: repeat-y url('/img/login_m.jpg');*/
    background-size: cover; 
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    
}
#menu{
  padding: 30px;
 
}


#logo{

  width: 150px;
  height: 60px;
}
/*
.form-signin {
    max-width: 480px;
    padding: 35px 35px 45px 35px;
    margin:  auto;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.342);
    border-radius: 0px;
  
  }
*/
.form-signin{

  background-color: #fff;
  max-width: 1280px;
  padding: 35px 35px 45px 35px;
  margin:  auto;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
  border-radius: 18px;
  
}
  a:link{
    
    color: #523617;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
  hr{
    color: #523617;
  }
/*
  #menu{

    padding: 30px;
    background-color: #525961cb;
  }
*/
  .photo{
   /* background: url('/img/busca-militar.png'); */
    position:relative;
    margin-top: -420px;
    
    background-repeat: no-repeat, repeat-y;
    float: right;
   /* width:500px;
    height: 600px;*/
    /*background-color: #fff;*/
    background-size: cover;
    border: 0px solid rgb(22, 22, 22);
}
  @media only screen and (max-width: 1200px) {
    .photo{
        display:none;
    }
}