@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,500,600,700&display=swap');

*{
    font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
}

body{
 
  background: url('/img/group-of-people-working-out-business-plan-in-an-office (3)_.jpg');
  background-size: cover; 
  background-attachment: fixed, scroll;
}

title{
  background: url('/img/title.png');
  width: 10px;
}

#logo{
    
    width: 150px;
    height: 60px;
    
  }
  
    #menu{
      padding: 30px;
      background-color: #284D92;
  }
  
    .form-signin {
      max-width: 480px;
      padding: 35px 35px 45px 35px;
      margin:  auto;
      margin-top: 50px;
      margin-left: 10px;
      background-color: #004691c2;
      box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
      border-radius: 18px;
    
    }

    .swal2-cancel{

      margin-right: 15px;
  }
  
    .btn{
      color: #fff;
      background-color: #38B6FF;
    }
    .btn:hover{
  
      color: #f0ede9;
      background-color: #3998cf;
      border-color: #0a0a0a;
    }
  
    a:link{
      
      color: #fff;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
    }
    hr{
      color: #fff;
    }
    h2{
      color: #fff;
    }
    .nav-link{
        color: #fff;
    }
    .nav-link:hover{
  
      color: #fff;
    }
  
    .photo{
     /* background: url('/img/man2-candidato1.png'); */
      position:relative;
      margin-top: -370px;
      float: right;
      width:500px;
      height: 500px;
      background-color: #fff;
      background-size: cover;
      border: 0px solid rgb(22, 22, 22);
  }
    @media only screen and (max-width: 1200px) {
      .photo{
          display:none;
      }
  }