#menu{
    padding: 30px;
    background-color: #284D92;
}

#logo{
    
    width: 150px;
    height: 60px;
    
}

.banner-principal{
 
    background: url('/img/banner-principal_.jpg'); 
    width: 100%;
    height: 100%;
    margin: 5px;    
    padding: 150px 0px 150px 0px;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    
   
}
input[placeholder]{

    text-align: center;
}

select{

border-radius: 5px 0px 0px 5px;

}
option{
    border-color: #fff;
}
.form-signin{

    
    max-width: 880px;
    padding: 35px 35px 45px 35px;
    margin:  auto;
    background-color: rgba(252, 250, 250, 0.575);
    border-radius: 25px;
    
}
#text-pesquisar{
    margin-bottom: 40px;
}

.h1{
   color: #284D92;
}
.container-fluid{

   margin-top: 0px;
 
}
#container{

    margin-top: 50px;
    margin-bottom: 50px;
}

#p-1{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    top: -250px;
    position: absolute;
    margin: 0px, 0px, 0px, 15px;

  }
  span{
    color: rgb(163, 157, 157);  
    font-size: 11px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto Slab', serif;
  }

  @media (min-width: 576px) { 

   

       
    
}