body{
    background: repeat-y url('/img/login_m.jpg') ;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    
}

#logo{

  width: 150px;
  height: 60px;
}

.form-signin {
  max-width: 480px;
  padding: 35px 35px 45px 35px;
  margin:  auto;
  margin-top: 70px;
  margin-left: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.342);
  border-radius: 17px;

}
#menu{

  padding: 30px;
  background-color: #525961cb;
}


  a:link{
    
    color: #523617;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
  hr{
    color: #523617;
  }
  .photo{
    /*background: url('/img/busca-militar.png'); */
    position:relative;
    margin-top: -382px;
    background-repeat: no-repeat, repeat-y;
    float: right;
   /* width:500px;
    height: 600px;*/
    /*background-color: #fff;*/
    background-size: cover;
    border: 0px solid rgb(22, 22, 22);
}
  @media only screen and (max-width: 1200px) {
    .photo{
        display:none;
    }
}