title{
    background: url('/img/title.png');
    width: 10px;
  }
  body{
      background-color: #fff;
    }
    #logo{
        
        width: 150px;
        height: 60px;
        
      }
      
        #menu{
          padding: 30px;
          background-color: #024B97;
      }
      
        .form-signin {
          max-width: 480px;
          padding: 35px 35px 45px 35px;
          margin:  auto;
          margin-top: 50px;
          
          color: #004b97c7;
          background-color: #c6d0d5;
          box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
          border-radius: 18px;
        
        }
      
        a:hover {
          text-decoration: none;
          color: black;
        }
        strong{
          color: red;
        }
        h2{
          color: #004C97;
        }
        .nav-link{
            color: #051f50;
        }
        .nav-link:hover{
      
          color: #051f50;
        }
      
        .photo{
         /* background: url('/img/man2-candidato1.png'); */
          position:relative;
          margin-top: -370px;
          float: right;
          width:500px;
          height: 500px;
         /* background-color: #fff;*/
          background-size: cover;
          border: 0px solid rgb(22, 22, 22);
      }
        @media only screen and (max-width: 1200px) {
          .photo{
              display:none;
          }
      }